body{
    font-family: 'Montserrat', sans-serif;
}

/* ----------HEADER-------- */
header{ 
    background: #DB8780;
    display: flex;    
    align-items: center;
    height: 50px;
    color: #F9E9D0;
    justify-content: space-between;
    padding: 20px;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    color: #F9E9D0;
}